[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Scorpion Cards
Exec=scorpion
Icon=${SNAP}/meta/gui/scorpion.png
Categories=Game;
Terminal=false
StartupNotify=true
StartupWMClass=Scorpion.exe
Keywords=game
